* {
  font-family: Calibri, sans-serif;
  overflow-x: hidden;
}
.mainReviews {
  background-color: white;
}
.dark-theme .mainReviews {
  background-color: #333;
  color: #fff;
}

.containerReviews {
  width: 100%;
  height: 100vh;
  margin: 100px 0 0 0;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dark-theme .containerReviews {
  color: #fff;
}

.titleGame {
  width: 100%;
}
.titleGame h1 {
  font-size: 50px;
  text-align: center;
}
.containerUserReview {
  min-width: 50%;
  width: fit-content;
  max-width: 100%;
}
.cardsReview {
  width: 100%;
  min-height: 100px;
  height: fit-content;
  max-height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}
.cardsReview h2 {
  margin: 0 100px 0 0;
}
